# MongoDB Connection String (Local or MongoDB Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/unani_hospital

# Database name
MONGODB_DB_NAME=unani_hospital

# Application Secret Key
APP_SECRET=your_app_secret_key_here
